<!DOCTYPE html>
<html>
<head>
	<title>Tufts EEG</title>

	<!------------------->
	<!-- DISPLAY FILES -->
	<!------------------->

	<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
	<script type="text/javascript" src="bootstrap/jquery.js"></script>
	<script type="text/javascript" src="bootstrap/bootstrap.js"></script>
	<link rel="stylesheet" href="main.css">
	<script type="text/javascript" src="page.js"></script>
	
</head>

<body>

	<!------------>
	<!-- NAVBAR -->
	<!------------>
	
	<nav class="navbar navbar-expand navbar-dark bg-primary"> 
		<a href="#menu-toggle" id="menu-toggle" class="navbar-brand">
			<span class="navbar-toggler-icon"></span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarToggle" aria-controls="navBarToggle" aria-expanded="false" aria-label="Toggle navigation"> 
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navBarToggle">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item title-text">Tufts BCI Team</li>
			</ul>
		</div>
	</nav>

	<div id="wrapper" class="toggled">

		<!------------->
		<!-- SIDEBAR -->
		<!------------->

		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand"> <a href="#"> EEG Toolbox </a> </li>
				<li> <a href="#">General Information</a> </li>
				<li> <a href="#">Live Data Feed</a> </li>
				<li> <a href="#">View Options</a> </li>
				<li> <a href="#">Team Information</a> </li>
				<li> <a href="https://github.com/0xJeremy/Tufts-EEG">Source</a> </li>
			</ul>
		</div>

		<!------------------>
		<!-- MAIN CONTENT -->
		<!------------------>

		<div id="page-content-wrapper">
			<div class="container-fluid-brain" id="threejsbrain">
			</div>
		</div>


	</div>
</body>

<!------------->
<!-- SCRIPTS -->
<!------------->

<script type="text/javascript" src="js/socket.io.js"></script>
<script type="text/javascript" src="communication.js"></script>
<script type="text/javascript" src="js/three.js"></script>
<script type="text/javascript" src="js/OBJLoader.js"></script>
<script type="text/javascript" src="render.js"></script>

</html>