<!DOCTYPE html>
<html>
<head>
	<title>Tufts EEG</title>

	<!------------------->
	<!-- DISPLAY FILES -->
	<!------------------->

	<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
	<script type="text/javascript" src="bootstrap/jquery.js"></script>
	<script type="text/javascript" src="bootstrap/bootstrap.js"></script>
	<link rel="stylesheet" href="main.css">
	<script type="text/javascript" src="page.js"></script>
	
</head>

<body>

	<!------------>
	<!-- NAVBAR -->
	<!------------>

	<nav class="navbar navbar-expand navbar-dark bg-primary"> 
		<a href="#menu-toggle" id="menu-toggle" class="navbar-brand">
			<span class="navbar-toggler-icon"></span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarToggle" aria-controls="navBarToggle" aria-expanded="false" aria-label="Toggle navigation" onclick="onWindowResize()"> 
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navBarToggle">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item title-text">Tufts BCI Team</li>
			</ul>
		</div>
	</nav>

	<div id="wrapper" class="toggled">

		<!------------->
		<!-- SIDEBAR -->
		<!------------->

		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">EEG Toolbox</li>
				<li> <a href="#">General Information</a> </li>
				<li>
					<a class="dropdown-toggle" data-toggle="collapse" href="#showData" role="button" aria-expanded="false" aria-controls="showData">View Live Data Feed
					</a>
					<div class="collapse" id="showData">
					    <table class="table table-dark">
							<thead>
						    	<tr>
						    		<th scope="col">Raw Electrode Values</th>
						    	</tr>
						  	</thead>
						  		<tbody id="probeTable">
							</tbody>
						</table>
					</div>
				</li>
				<li>
					<a class="dropdown-toggle" data-toggle="collapse" href="#showOptions" role="button" aria-expanded="false" aria-controls="showOptions">Display Options & Settings
					</a>
					<div class="collapse" id="showOptions">
						<table class="table table-dark">
							<thead class="view-options">
						    	<tr>
						    		<th scope="col">#TODO: Add view options.</th>
						    	</tr>
						</table>
					</div>
				</li>
				<li>
					<a class="dropdown-toggle" data-toggle="collapse" href="#showTeamInfo" role="button" aria-expanded="false" aria-controls="showTeamInfo">Team Information
					</a>
					<div class="collapse team-info" id="showTeamInfo">
						<table class="table table-dark">
							<thead class="team-info">
						    	<tr>
						    		<th scope="col">We are a group of undergraduate students at Tufts University interested in Brain-Computer interfaces, and biomed technology. </br></br>This project was funded by the Tufts MAKE club, and made possible by the hard work put in by the team.</th>
						    	</tr>
						</table>
					</div>
				</li>
				<li> <a href="https://github.com/0xJeremy/Tufts-EEG">See Project On Github</a> </li>
			</ul>
		</div>

		<!------------------>
		<!-- MAIN CONTENT -->
		<!------------------>

		<div id="page-content-wrapper">
			<div class="container-fluid-brain" id="threejsbrain">
			</div>
		</div>


	</div>
</body>

<!------------->
<!-- SCRIPTS -->
<!------------->

<script type="text/javascript" src="js/socket.io.js"></script>
<script type="text/javascript" src="communication.js"></script>
<!-- <script type="text/javascript" src="js/three.js"></script>
<script type="text/javascript" src="js/OBJLoader.js"></script>
<script type="text/javascript" src="render.js"></script> -->

</html>