.bg {
	min-height: 100%;
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat:no-repeat;
	background: -webkit-linear-gradient(45deg, #ff8a00, #da1b60);
	background: -moz-linear-gradient(45deg, #ff8a00, #da1b60));
	background: -ms-linear-gradient(45deg, #ff8a00, #da1b60);
	background: -o-linear-gradient(45deg, #ff8a00, #da1b60));
	background: linear-gradient(45deg, #ff8a00, #da1b60));
}

.bg-inner {
	background: #ecf0f1;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 2em;
	padding-bottom: 2em;
}

.center-vertical {
	padding-top: 2em;
}

.title-text {
	font-weight: lighter;
	font-family: bookman;
	font-size: 3em;
	color: #ecf0f1;
}